################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PrismUnityApp1/PrismUnityApp1/bin/Debug
/PrismUnityApp1/PrismUnityApp1/obj
/PrismUnityApp1/PrismUnityApp1/obj/Debug
/PrismUnityApp1/PrismUnityApp1/obj/Debug/CoreCompileInputs.cache
/PrismUnityApp1/PrismUnityApp1.Droid/bin/Debug
/PrismUnityApp1/PrismUnityApp1.Droid/bin/Debug
/PrismUnityApp1/PrismUnityApp1.Droid/obj/Debug
/PrismUnityApp1/PrismUnityApp1.UWP/bin/x86/Debug
/PrismUnityApp1/PrismUnityApp1.UWP/obj/x86/Debug
/PrismUnityApp1/PrismUnityApp1/bin/Release
/PrismUnityApp1/PrismUnityApp1.Droid/obj/Release
/PrismUnityApp1/PrismUnityApp1.UWP/bin/x86/Release
/PrismUnityApp1/PrismUnityApp1.UWP/obj/x86/Release
/PrismUnityApp1/PrismUnityApp1.Droid/obj/.cache
/PrismUnityApp1/PrismUnityApp1.Droid/obj/.cache/SiwakeApp.Droid.flag
