################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PrismUnityApp1/PrismUnityApp1/bin/Debug
/PrismUnityApp1/PrismUnityApp1/obj
/PrismUnityApp1/PrismUnityApp1/obj/Debug
/PrismUnityApp1/PrismUnityApp1/obj/Debug/CoreCompileInputs.cache
